

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fdfafc;
  justify-content: center;
}

.maincontent {

  padding-top: 5rem;
  padding-bottom: 40px;}

.hr-text {
            display: flex;
            flex-direction: row;
        }
.hr-text:before,
.hr-text:after{content: "  ";
            flex: 1 1;
            border-bottom: 1px solid #000;
            margin: auto; }