{% extends 'botsite/base.html' %}
{% load static %}


{% block Title %}Settings{% endblock %}

{% block Content %}


<link href="{% static 'botsite/css/bot_settings.css' %}" rel="stylesheet">

<div class="container main-content center-content ">

    <div class="card " style="margin-bottom:5px;">

  <div class="card-body d-flex align-items-center " >
      <a class=" btn  shadow-none  h-100 mask btn-block" href="{% url 'random_post' conversation=request.resolver_match.kwargs.conversation  %}" style="text-align:center; " role="button"> <h3> Настройка функции "Случайный пост" </h3> </a>
       <span class="vertical-line"></span>
      <button class="btn btn-link shadow-none" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="text-align:center; ">
    Подробнее..
  </button>


  </div>
        <div class="collapse" id="collapseExample">
  <div class="card card-body">
    Скоро здесь будет описание этой настройки.
  </div>
</div>
            </div>


    <div class="card " style="margin-bottom:5px;">

  <div class="card-body d-flex align-items-center " >
      <a class=" btn  shadow-none  h-100 mask btn-block" href="{% url 'home' %}" style="text-align:center; " role="button"> <h3> Сделать уже, убрать границы, сделать стрелочки, вертикальную полосу настроить, шрифт настроить</h3> </a>
       <span class="vertical-line"></span>
      <button class="btn btn-link shadow-none" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1" style="text-align:center; ">
    Что это?
  </button>


  </div>
        <div class="collapse" id="collapseExample1">
  <div class="card card-body">
    высота 84 пикселя.
  </div>
</div>
            </div>
</div>






{% endblock %}